html
  head
    title= title
  body
    div
      h1 Totaal
      p #{totaal} woningen

    div
      h1 Verkocht
      p #{verkocht} woningen

    div
      h1 Mondeling Verkocht
      p #{mondelingverkocht} woningen

    div
      h1 Onder optie
      p #{onderoptie} woningen

    div
      h1 Te koop
      p #{tekoop} woningen

    div
      h1 Nog #{(woningenBenodigd - verkocht)} woningen te verkopen

